<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.richeditor">

    <uses-permission android:name="android.permission.INTERNET" />

<!--    <application>-->
<!--        <activity-->
<!--            android:name=".RichEditorActivity"-->
<!--            android:windowSoftInputMode="stateHidden|adjustPan" />-->
<!--    </application>-->
</manifest>
